/* SECTION A */

#header {
	background-color:#d72c24;
}

#logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	margin-bottom: 5%;
}



/* SECTION B */

#body {
	background-color:#ffffff;
	padding-top: 2%;
	padding-bottom: 2%;
}

#header-text {
	text-align: center;
	color: #d72c24;
	margin-top: 5%;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}

#body-text {
	color: #707070;
	text-align: justify;
	font-family: 'Raleway', sans-serif;
	margin-left: 20%;
	margin-right:20%;
	font-size: 140%;
}

input[type="text"] {
	display: block;
	margin-top:100px;
	margin: 0;
	width: 30%;
	height: 50px;
	border-radius: none;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	color: #d72c24;
	font-weight: 900;
	appearance: none;
	text-align: center;
	border: solid 1px #707070;
  	box-shadow: 0 0 5px 1px #969696;
}

#button {
	display: inline-block;
	border-radius: none;
	width: 30%;
	height: 50px;
	font-family: 'Raleway', sans-serif;
	color: #ffffff;
	font-weight: 900;
	font-size: 18px;
	background-color: #840700;
	border: solid 1px #707070;
	box-shadow: 0 0 5px 1px #969696;
}

#button:hover {
	background-color: #ffffff;	
	color: #d72c24;
}

#maintext {
	color: #d72c24;
	text-align: justify;
	font-family: 'Raleway', sans-serif;
	margin-left: 20%;
	margin-right:20%;
	font-size: 200%;
	font-weight: 700;
}


/* SECTION C */

#footer {
	background-color:#070707;
}

#footer-text {
	color: #ffffff;
	text-align: justify;
	font-family: 'Raleway', sans-serif;
	margin-left: 10%;
	margin-right:10%;
	margin-top: 5%;
	margin-bottom: 5%;
	font-size: 100%;
	font-weight: 300;
	line-height: 150%;
}



